/* Estilos para pantallas más pequeñas */
@media only screen and (max-width: 600px) {
    .maps {
        width: 90%; 
        height: 250px; 
        border: 4px solid #F6B134; 
        border-radius: 10px; 
        box-sizing: border-box; 
        margin: 20px 0 80px 0; 
    }

    .maps iframe {
        width: 100%;
        height: 100%;
        border: 0;
    }

    .titulo1 h1 {
        font-size: 40px;
    }

    .direccion h2, .Horarios h2 {
        font-size: 25px;
    }

    .parrafo, .parrafo2 {
        font-size: 14px;
    }
}

/* Estilos para pantallas medianas */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .maps {
        width: 70%; 
        height: 350px; 
        border: 4px solid #F6B134; 
        border-radius: 10px; 
        box-sizing: border-box; 
        margin: 20px 0 80px 0; 
    }

    .maps iframe {
        width: 100%;
        height: 100%;
        border: 0; 
    }

    .titulo1 h1 {
        font-size: 50px;
    }

    .direccion h2, .Horarios h2 {
        font-size: 25px;
    }

    .parrafo, .parrafo2 {
        font-size: 16px;
    }
}

/* Estilos para pantallas grandes */
@media only screen and (min-width: 1025px) {
    .maps {
        width: 50%; 
        height: 400px; 
        border: 4px solid #F6B134; 
        border-radius: 10px; 
        box-sizing: border-box; 
        margin: 20px 0 80px 0; 
    }

    .maps iframe {
        width: 100%;
        height: 100%;
        border: 0; 
    }

    .titulo1 h1 {
        font-size: 55px;
    }

    .direccion h2, .Horarios h2 {
        font-size: 30px;
    }

    .parrafo, .parrafo2 {
        font-size: 18px;
    }
}

/* Estilos generales */
nav {
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
}

.logo {
    font-size: 45px;
    text-align: center;
    width: 500px;
    height: 200px;
}

.logo1 {
    display: flex;
    justify-content: center;
}

ul li {
    display: inline-block;
    padding: 0px 50px;
    text-align: center;
}

.menu {
    text-align: center;
}

a {
    color: #000000;
}

a:hover {
    color: #F6B134;
}

.link1 {
    display: flow-root;
    justify-content: space-around;
}

.titulo1 h1 {
    color: #F6B134;
    font-size: 55px;
    line-height: 20px;
    margin-bottom: 20px;
}

.titulo1 {
    text-align: center;
}

.linea {
    background-color: #8e0e0e;
    width: 100%;
    height: 6px;
    margin: 20px 0; 
    line-height: 20px;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px; 
    flex-wrap: wrap; 
}

.maps {
    margin-bottom: 80px;
    padding: 0;
    box-sizing: border-box; 
}

.info {
    max-width: 45%;
    margin-left: 20px; 
    position: relative; 
}

.direccion h2 {
    color: #F6B134;
    font-size: 30px;
    line-height: 20px;
    margin-bottom: 20px;
    text-align: left;
    position: relative; 
}

.direccion hr {
    position: absolute;
    left: 0;
    width: 50%;
    border: none;
    border-top: 6px solid #8e0e0e; 
    margin: 0;
}

.parrafo {
    text-align: left;
    color: white;
}

.Horarios h2 {
    color: #F6B134;
    font-size: 30px;
    line-height: 20px;
    margin-bottom: 20px;
    text-align: left;
    position: relative; 
}

.Horarios hr {
    position: absolute;
    left: 0;
    width: 50%;
    border: none;
    border-top: 6px solid #8e0e0e; 
    margin: 0;
}

.parrafo2 {
    text-align: left;
    color: white;
}

.fondo {
    padding: 100px 0;
    background-color: rgb(0, 0, 0);
    position: relative;
}

.divisiones {
    display: flex;
}

.footer {
    width: 100%; 
    margin: 0 auto; 
    padding: 20px 0; 
    text-align: center; 
}

.row {
    padding-left: 10%;
}
